
.DS_Store
assets/animatecss/animate.min.css
assets/as-pie-progress/css/progress.min.css
assets/as-pie-progress/jquery-as-pie-progress.min.js
assets/bootstrap/css/bootstrap-grid.min.css
assets/bootstrap/css/bootstrap-reboot.min.css
assets/bootstrap/css/bootstrap.min.css
assets/bootstrap/js/bootstrap.min.js
assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js
assets/dropdown/css/style.css
assets/dropdown/js/nav-dropdown.js
assets/dropdown/js/navbar-dropdown.js
assets/files/Curriculam_Vitae_Surendra.pdf
assets/gallery/player.min.js
assets/gallery/script.js
assets/gallery/style.css
assets/images/1200px-iit-madras-logo.svg-296x296.png
assets/images/adhzir9ftjmndtof1gecfq-thumb-2868-1024x768-800x600.jpg
assets/images/adhzir9ftjmndtof1gecfq-thumb-2868-1024x768.jpg
assets/images/ezgif.com-video-to-gif.gif
assets/images/figure-3-1-1020x725.jpg
assets/images/gominarttasjypmml8pww-thumb-2a40-1024x769-800x601.jpg
assets/images/gominarttasjypmml8pww-thumb-2a40-1024x769.jpg
assets/images/hashes.json
assets/images/img-20170928-91836-1113x835-800x600.jpg
assets/images/img-20170928-91836-1113x835.jpg
assets/images/img-3963-2000x2667-800x1067.jpg
assets/images/img-3963-2000x2667.jpg
assets/images/img-5807-removebg-1068x1424.png
assets/images/img-93-2000x2667-800x1067.jpg
assets/images/img-93-2000x2667.jpg
assets/images/ipwzvk6cqmiqaqjk39ufrw-thumb-1e3f-1024x769-800x601.jpg
assets/images/ipwzvk6cqmiqaqjk39ufrw-thumb-1e3f-1024x769.jpg
assets/images/kweehr3sqkkabqlay7cvg-thumb-2958-1024x769-800x601.jpg
assets/images/kweehr3sqkkabqlay7cvg-thumb-2958-1024x769.jpg
assets/images/luruj2oqt3kmpspg6ll7ba-thumb-23d8-1086x724-800x533.jpg
assets/images/luruj2oqt3kmpspg6ll7ba-thumb-23d8-1086x724.jpg
assets/images/mbr-228x148.jpg
assets/images/mbr-favicon.png
assets/images/mobirise2019719-214302019-7-1-21-57-10.jpg
assets/images/picture1-697x693.png
assets/images/screenshot-2019-05-13-09.47.05-900x344.png
assets/images/u7bnm8jbqfitwl21jmhg-thumb-2dbe-768x1024.jpg
assets/images/ucc1-807x543.jpeg
assets/images/unadjustednonraw-thumb-112c-1086x724-800x533.jpg
assets/images/unadjustednonraw-thumb-112c-1086x724.jpg
assets/images/unadjustednonraw-thumb-11a6-724x1086-724x1086.jpg
assets/images/unadjustednonraw-thumb-11a6-724x1086.jpg
assets/images/unadjustednonraw-thumb-12bf-1086x724-800x533.jpg
assets/images/unadjustednonraw-thumb-12bf-1086x724.jpg
assets/images/unadjustednonraw-thumb-1336-1086x724-800x533.jpg
assets/images/unadjustednonraw-thumb-1336-1086x724.jpg
assets/images/unadjustednonraw-thumb-155e-1086x724-800x533.jpg
assets/images/unadjustednonraw-thumb-155e-1086x724.jpg
assets/images/unadjustednonraw-thumb-16a6-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-16a6-1024x768.jpg
assets/images/unadjustednonraw-thumb-1787-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-1787-1024x768.jpg
assets/images/unadjustednonraw-thumb-1a7a-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-1a7a-1024x768.jpg
assets/images/unadjustednonraw-thumb-1a9f-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-1a9f-1024x768.jpg
assets/images/unadjustednonraw-thumb-1bca-1086x724-800x533.jpg
assets/images/unadjustednonraw-thumb-1bca-1086x724.jpg
assets/images/unadjustednonraw-thumb-1c11-1086x724-800x533.jpg
assets/images/unadjustednonraw-thumb-1c11-1086x724.jpg
assets/images/unadjustednonraw-thumb-1c3b-1086x724-800x533.jpg
assets/images/unadjustednonraw-thumb-1c3b-1086x724.jpg
assets/images/unadjustednonraw-thumb-1c9f-1086x724-800x533.jpg
assets/images/unadjustednonraw-thumb-1c9f-1086x724.jpg
assets/images/unadjustednonraw-thumb-1d16-1086x724-800x533.jpg
assets/images/unadjustednonraw-thumb-1d16-1086x724.jpg
assets/images/unadjustednonraw-thumb-1d17-1086x724-800x533.jpg
assets/images/unadjustednonraw-thumb-1d17-1086x724.jpg
assets/images/unadjustednonraw-thumb-1d1a-1086x724-800x533.jpg
assets/images/unadjustednonraw-thumb-1d1a-1086x724.jpg
assets/images/unadjustednonraw-thumb-1d1f-1086x724-800x533.jpg
assets/images/unadjustednonraw-thumb-1d1f-1086x724.jpg
assets/images/unadjustednonraw-thumb-1d22-1086x724-800x533.jpg
assets/images/unadjustednonraw-thumb-1d22-1086x724.jpg
assets/images/unadjustednonraw-thumb-1d31-876x640-700x512.jpeg
assets/images/unadjustednonraw-thumb-1d31-876x640.jpeg
assets/images/unadjustednonraw-thumb-1d3d-1182x665-800x450.jpg
assets/images/unadjustednonraw-thumb-1d3d-1182x665.jpg
assets/images/unadjustednonraw-thumb-1dd2-1024x769-800x601.jpg
assets/images/unadjustednonraw-thumb-1dd2-1024x769.jpg
assets/images/unadjustednonraw-thumb-1e03-1024x769-800x601.jpg
assets/images/unadjustednonraw-thumb-1e03-1024x769.jpg
assets/images/unadjustednonraw-thumb-1ea9-1024x769-800x601.jpg
assets/images/unadjustednonraw-thumb-1ea9-1024x769.jpg
assets/images/unadjustednonraw-thumb-1ed3-1024x769-800x601.jpg
assets/images/unadjustednonraw-thumb-1ed3-1024x769.jpg
assets/images/unadjustednonraw-thumb-1f9f-1024x769-800x601.jpg
assets/images/unadjustednonraw-thumb-1f9f-1024x769.jpg
assets/images/unadjustednonraw-thumb-1fae-1024x769-800x601.jpg
assets/images/unadjustednonraw-thumb-1fae-1024x769.jpg
assets/images/unadjustednonraw-thumb-2030-1024x769-800x601.jpg
assets/images/unadjustednonraw-thumb-2030-1024x769.jpg
assets/images/unadjustednonraw-thumb-208b-1026x762-800x594.jpg
assets/images/unadjustednonraw-thumb-208b-1026x762.jpg
assets/images/unadjustednonraw-thumb-20c9-1026x762-800x594.jpg
assets/images/unadjustednonraw-thumb-20c9-1026x762.jpg
assets/images/unadjustednonraw-thumb-20fe-1026x762-800x594.jpg
assets/images/unadjustednonraw-thumb-20fe-1026x762.jpg
assets/images/unadjustednonraw-thumb-21a1-1026x762-800x594.jpg
assets/images/unadjustednonraw-thumb-21a1-1026x762.jpg
assets/images/unadjustednonraw-thumb-2251-1026x762-800x594.jpg
assets/images/unadjustednonraw-thumb-2251-1026x762.jpg
assets/images/unadjustednonraw-thumb-22b6-1026x762-800x594.jpg
assets/images/unadjustednonraw-thumb-22b6-1026x762.jpg
assets/images/unadjustednonraw-thumb-22de-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-22de-1024x768.jpg
assets/images/unadjustednonraw-thumb-2392-1086x724-800x533.jpg
assets/images/unadjustednonraw-thumb-2392-1086x724.jpg
assets/images/unadjustednonraw-thumb-239f-1086x724-800x533.jpg
assets/images/unadjustednonraw-thumb-239f-1086x724.jpg
assets/images/unadjustednonraw-thumb-2456-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-2456-1024x768.jpg
assets/images/unadjustednonraw-thumb-26c2-1026x762-800x594.jpg
assets/images/unadjustednonraw-thumb-26c2-1026x762.jpg
assets/images/unadjustednonraw-thumb-2725-768x1024-768x1024.jpg
assets/images/unadjustednonraw-thumb-2725-768x1024.jpg
assets/images/unadjustednonraw-thumb-2749-1026x762-800x594.jpg
assets/images/unadjustednonraw-thumb-2749-1026x762.jpg
assets/images/unadjustednonraw-thumb-27a1-1182x665-800x450.jpg
assets/images/unadjustednonraw-thumb-27a1-1182x665.jpg
assets/images/unadjustednonraw-thumb-281f-1024x682-800x533.jpg
assets/images/unadjustednonraw-thumb-281f-1024x682.jpg
assets/images/unadjustednonraw-thumb-28a6-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-28a6-1024x768.jpg
assets/images/unadjustednonraw-thumb-291e-1026x762-800x594.jpg
assets/images/unadjustednonraw-thumb-291e-1026x762.jpg
assets/images/unadjustednonraw-thumb-2b6d-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-2b6d-1024x768.jpg
assets/images/unadjustednonraw-thumb-2b9c-768x1024-768x1024.jpg
assets/images/unadjustednonraw-thumb-2b9c-768x1024.jpg
assets/images/unadjustednonraw-thumb-2c46-1026x762-800x594.jpg
assets/images/unadjustednonraw-thumb-2c46-1026x762.jpg
assets/images/unadjustednonraw-thumb-2c8f-1026x762-800x594.jpg
assets/images/unadjustednonraw-thumb-2c8f-1026x762.jpg
assets/images/unadjustednonraw-thumb-2c9e-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-2c9e-1024x768.jpg
assets/images/unadjustednonraw-thumb-2d51-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-2d51-1024x768.jpg
assets/images/unadjustednonraw-thumb-6f2-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-6f2-1024x768.jpg
assets/images/unadjustednonraw-thumb-720-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-720-1024x768.jpg
assets/images/unadjustednonraw-thumb-731-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-731-1024x768.jpg
assets/images/unadjustednonraw-thumb-751-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-751-1024x768.jpg
assets/images/unadjustednonraw-thumb-75f-1182x665-800x450.jpg
assets/images/unadjustednonraw-thumb-75f-1182x665.jpg
assets/images/unadjustednonraw-thumb-762-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-762-1024x768.jpg
assets/images/unadjustednonraw-thumb-831-1182x665-800x450.jpg
assets/images/unadjustednonraw-thumb-831-1182x665.jpg
assets/images/unadjustednonraw-thumb-859-768x1024-768x1024.jpg
assets/images/unadjustednonraw-thumb-859-768x1024.jpg
assets/images/unadjustednonraw-thumb-8d6-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-8d6-1024x768.jpg
assets/images/unadjustednonraw-thumb-a3f-722x1089-722x1089.jpg
assets/images/unadjustednonraw-thumb-a3f-722x1089.jpg
assets/images/unadjustednonraw-thumb-ce8-1088x722-800x531.jpg
assets/images/unadjustednonraw-thumb-ce8-1088x722.jpg
assets/images/unadjustednonraw-thumb-e6c-1024x1023-800x799.jpg
assets/images/unadjustednonraw-thumb-e6c-1024x1023.jpg
assets/images/unadjustednonraw-thumb-e76-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-e76-1024x768.jpg
assets/images/unadjustednonraw-thumb-e93-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-e93-1024x768.jpg
assets/images/unadjustednonraw-thumb-ef9-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-ef9-1024x768.jpg
assets/images/unadjustednonraw-thumb-f04-768x1024-768x1024.jpg
assets/images/unadjustednonraw-thumb-f04-768x1024.jpg
assets/images/unadjustednonraw-thumb-f06-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-f06-1024x768.jpg
assets/images/unadjustednonraw-thumb-f0d-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-f0d-1024x768.jpg
assets/images/unadjustednonraw-thumb-f0e-1182x665-800x450.jpg
assets/images/unadjustednonraw-thumb-f0e-1182x665.jpg
assets/images/unadjustednonraw-thumb-f0f-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-f0f-1024x768.jpg
assets/images/unadjustednonraw-thumb-fa0-1024x768-800x600.jpg
assets/images/unadjustednonraw-thumb-fa0-1024x768.jpg
assets/images/unnamed-673x362.png
assets/images/vurma3xgtgwtcovpdej5mw-thumb-253e-1024x769-800x601.jpg
assets/images/vurma3xgtgwtcovpdej5mw-thumb-253e-1024x769.jpg
assets/images/vypeosnhqemqh5n0ht2zlq-thumb-1612-768x1024-768x1024.jpg
assets/images/vypeosnhqemqh5n0ht2zlq-thumb-1612-768x1024.jpg
assets/images/w63dcy0spyukfste2qf6a-thumb-279b-769x1024-769x1024.jpg
assets/images/w63dcy0spyukfste2qf6a-thumb-279b-769x1024.jpg
assets/images/ytjmnipprlgzrcqgap9eq-thumb-25ef-1024x769-800x601.jpg
assets/images/ytjmnipprlgzrcqgap9eq-thumb-25ef-1024x769.jpg
assets/images/zkfx7xgsr0qkgi1nv7em0w-thumb-24c8-768x1024-768x1024.jpg
assets/images/zkfx7xgsr0qkgi1nv7em0w-thumb-24c8-768x1024.jpg
assets/imagesloaded/imagesloaded.pkgd.min.js
assets/jvmap/jquery-jvectormap-2.0.3.css
assets/jvmap/jquery-jvectormap-2.0.3.min.js
assets/jvmap/jquery-jvectormap-world-mill.js
assets/masonry/masonry.pkgd.min.js
assets/mbr-flip-card/mbr-flip-card.js
assets/mobirise/css/mbr-additional.css
assets/parallax/jarallax.min.js
assets/popper/popper.min.js
assets/slidervideo/script.js
assets/smoothscroll/smooth-scroll.js
assets/socicon/css/styles.css
assets/socicon/fonts/socicon.eot
assets/socicon/fonts/socicon.svg
assets/socicon/fonts/socicon.ttf
assets/socicon/fonts/socicon.woff
assets/tether/tether.min.css
assets/tether/tether.min.js
assets/theme/css/style.css
assets/theme/js/script.js
assets/touchswipe/jquery.touch-swipe.min.js
assets/viewportchecker/jquery.viewportchecker.js
assets/vimeoplayer/jquery.mb.vimeo_player.js
assets/web/assets/jquery/jquery.min.js
assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css
assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.eot
assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.svg
assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.ttf
assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.woff
assets/web/assets/mobirise-icons/mobirise-icons.css
assets/web/assets/mobirise-icons/mobirise-icons.eot
assets/web/assets/mobirise-icons/mobirise-icons.svg
assets/web/assets/mobirise-icons/mobirise-icons.ttf
assets/web/assets/mobirise-icons/mobirise-icons.woff
