@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?janea5');
  src:  url('fonts/icomoon.eot?janea5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?janea5') format('truetype'),
    url('fonts/icomoon.woff?janea5') format('woff'),
    url('fonts/icomoon.svg?janea5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aichip:before {
  content: "\e900";
}
.icon-Aimsun:before {
  content: "\e901";
}
.icon-cplex:before {
  content: "\e902";
}
.icon-et:before {
  content: "\e903";
}
.icon-flask:before {
  content: "\e904";
}
.icon-gams:before {
  content: "\e905";
}
.icon-gurobi:before {
  content: "\e906";
}
.icon-instagram-square:before {
  content: "\e907";
}
.icon-latex:before {
  content: "\e908";
}
.icon-maplocs:before {
  content: "\e909";
}
.icon-mobilesout:before {
  content: "\e90a";
}
.icon-transitbt:before {
  content: "\e90b";
}
.icon-vissim:before {
  content: "\e90c";
}
